footer{
    color: white;
    .footer1{
        background-color: #26282C;
        img{
            width: 200px;
        }
        
    }
    .footer2
    {
        background-color: #000000;
    }
}