header{
    .container
    {
        padding: 0;

        .firstheader{
            background-color: $col-grey;
            padding: 0 60px;
            

            .img{
                display:inline-block;
                height:14px;
                width:14px;
                background-image: url(./../images/phone.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .img-1
            {
                margin-left: 20px;
                margin-right: 12px;
                
            }
            .img-2
            {
                
                background-image: url(./../images/web.svg);
                
                align-self: center;
                size:6.25px;
            }
        }

        .secondheader{
            padding-left: 60px;
            background-color: white;
            .navimg2
            {
                margin: 0 20px;
            }
            .navimg3
            {
                
            }
            .navimg4
            {
                margin-left: 20px;
            }
        }
    }
}